---
import PagesLayout from "../layouts/PagesLayout.astro";

---
<div class="flex flex-col justify-between items-center min-h-screen">
    <PagesLayout>
        <div class="max-w-[1100px] mt-14 flex flex-col ">
            <div class="m-10">
                <h2 class="text-darkpurple text-2xl ml-10">About Me</h2>
                <div class="text-greybordertext b-8 border-solid bg-greyborder rounded-3xl mt-1">
                    <div class="m-5">
                        <p class="pt-5 px-5">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, vel
                            quas repudiandae optio voluptatibus dolore maxime sed nisi ad, quod
                            exercitationem. Magni facilis ducimus neque nostrum voluptas, eius,
                            aliquam ullam eligendi corporis perferendis dolor iusto veniam cumque
                            saepe iste porro, non optio amet. Enim esse porro incidunt sequi
                            consectetur vitae.
                        </p>
                        <p class="p-5">
                            Aenean ipsum justo ut curabitur rutrum sem. Egestas nullam curae 
                            hendrerit sit cubilia sed porttitor sapien. Proin penatibus ad 
                            bibendum iaculis morbi vivamus. Tincidunt magnis placerat lectus 
                            augue fusce. Lacus habitasse natoque efficitur fames blandit proin; 
                            dictumst sodales. Proin fames magna dapibus sem morbi platea suscipit 
                            duis urna. Quisque phasellus porta posuere scelerisque per ipsum sit 
                            natoque. Ante lobortis donec augue; ridiculus lectus litora? Natoque 
                            class euismod ac augue auctor ultricies et.
                        </p>
                        <p class="p-5">
                            Commodo donec fermentum conubia ac; justo in. Nullam suspendisse 
                            consequat urna pretium auctor. Sem eros accumsan luctus mollis; enim 
                            aptent luctus etiam. Lacinia elit magna curae maecenas nec, sem fermentum 
                            massa. Lectus venenatis ullamcorper fringilla class convallis porttitor 
                            fringilla? Tincidunt quisque egestas magna augue maximus curabitur. 
                            Venenatis erat netus ornare augue class ornare. Mollis malesuada feugiat 
                            cras venenatis fames porttitor platea lectus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </PagesLayout>
</div>