---
import PagesLayout from "../layouts/PagesLayout.astro";

---
<div class="flex flex-col justify-between items-center min-h-screen">
    <PagesLayout>
        <div class="max-w-[1100px] mt-14 flex flex-col ">
            
        </div>
    </PagesLayout>
</div>