---
import comet from "../images/comet.gif";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex justify-center w-full">
    <div class="flex gap-5">
        <img class="w-32 sm:w-40" src={comet.src} alt="falling comet animated ">
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col sm:flex-row items-center">
                <h2 class="text-darkpurple text-3xl sm:text-5xl mr-2">{t("contactphraseone")}</h2>
                <h2 class="flex sm:hidden text-darkpurple text-3xl sm:text-5xl mb-2">{t("contactphrasetwo")}</h2>
                <button class="bg-pink-dark max-w-52 max-h-16 border-pink-light mx-auto p-4 border-8 rounded-full flex items-center text-white"><a href="contact">{t("contactbuttonphrase")}</a></button>
            </div>
            <h2 class="hidden sm:flex text-darkpurple text-3xl sm:text-5xl mr-16">{t("contactphrasetwo")}</h2>
        </div>
    </div>
</section>