---
import Headerlogo from "./ToggleHeaderLogo.svelte";
import DropdownMenu from "./DropdownMenu.svelte";
import SelectMenu from "./SelectMenu.svelte";
import ChangeLanguageMenu from "../components/ChangeLanguageMenu.svelte";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const oppositeT = lang === "en" ? "ελ" : "en";
const langPages = lang === "en" ? "/el" : "/";

---

<header class="bg-primary fixed top-0 w-full h-14 flex flex-row justify-center text-white z-50">
    <div class="flex items-center w-[90%]">
        <Headerlogo client:idle />
        <nav class="hidden md:flex flex-1 justify-end flex-row ">
            <ul class="flex flex-row gap-x-5 text-xl">
                <li>
                    <a href="/about">{t("about")}</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/contact">{t("contact")}</a>
                </li>
                <li>
                    <DropdownMenu buttonName={t("lang")} client:idle><ChangeLanguageMenu client:idle /></DropdownMenu>
                </li>
            </ul>
        </nav>
        <div class="md:hidden flex flex-1 justify-end">
            <SelectMenu client:load>
                <ul class="flex flex-col gap-x-5 text-lg text-right">
                    <li>
                        <a href="/about" class="hover:bg-pink-dark rounded-md px-1">{t("about")}</a>
                    </li>
                    <li>
                        <a href="/projects" class="hover:bg-pink-dark rounded-md px-1">Projects</a>
                    </li>
                    <li>
                        <a href="/contact" class="hover:bg-pink-dark rounded-md px-1">{t("contact")}</a>
                    </li>
                    <li>
                        <a href={langPages} class="hover:bg-pink-dark rounded-md px-1">{oppositeT}</a>
                    </li>
                </ul>
            </SelectMenu>
        </div>
    </div>
</header>