---
import Headerlogo from "./ToggleHeaderLogo.svelte";
import DropdownMenu from "./DropdownMenu.svelte";
import SelectMenu from "./SelectMenu.svelte";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const oppositeT = lang === "en" ? "ελ" : "en";
const langPages = lang === "en" ? "el" : "/Starfox-Website-Astro/";

function buildLink(path: string) {
    return import.meta.env.BASE_URL + "/" + path;
}
---

<header class="bg-primary fixed top-0 w-full h-14 flex flex-row justify-center text-white z-50">
    <div class="flex items-center w-[90%]">
        <Headerlogo client:load />
        <nav class="hidden md:flex flex-1 justify-end flex-row ">
            <ul class="flex flex-row gap-x-5 text-xl">
                <li>
                    <a href={buildLink("about")}>{t("about")}</a>
                </li>
                <li>
                    <a href={buildLink("projects")}>Projects</a>
                </li>
                <li>
                    <a href={buildLink("contact")}>{t("contact")}</a>
                </li>
                <li>
                    <DropdownMenu buttonName={t("lang")} client:idle>
                        <div class="absolute bg-pink-light border-solid border-pink-dark border-2 rounded-md w-10 text-center">
                            <ul class="my-1">
                              <li><a href="/Starfox-Website-Astro/" class="hover:bg-pink-dark rounded-md px-1">en</a></li>
                              <li><a href={buildLink("el")} class="hover:bg-pink-dark rounded-md px-1">ελ</a></li>
                            </ul>
                        </div>
                    </DropdownMenu>
                </li>
            </ul>
        </nav>
        <div class="md:hidden flex flex-1 justify-end">
            <SelectMenu client:load>
                <ul class="flex flex-col gap-x-5 text-lg text-right">
                    <li>
                        <a href={buildLink("about")} class="hover:bg-pink-dark rounded-md px-1">{t("about")}</a>
                    </li>
                    <li>
                        <a href={buildLink("projects")} class="hover:bg-pink-dark rounded-md px-1">Projects</a>
                    </li>
                    <li>
                        <a href={buildLink("contact")} class="hover:bg-pink-dark rounded-md px-1">{t("contact")}</a>
                    </li>
                    <li>
                        <a href={buildLink(langPages)} class="hover:bg-pink-dark rounded-md px-1">{oppositeT}</a>
                    </li>
                </ul>
            </SelectMenu>
        </div>
    </div>
</header>