---
import Carousel from "./Carousel.svelte"
---

<section class="flex justify-center w-full">
    <div class="max-w-[1100px] max-h-[800px] m-10 flex flex-col">
        <h2 class="text-darkpurple text-2xl ml-10">Projects</h2>
        <Carousel client:idle/>
    </div>
</section>